.container {
  position: absolute;
  top: 180pt;
  width: 90%;
  height: auto;
  background-color: rgb(4, 62, 113);
  border-radius: 5pt;
  padding-top: 10pt;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  padding: 30px;
  margin-right: 20pt;
  overflow: visible;
}

.carousel_wrap {
  overflow: hidden;
}

.filters {
  padding: 10pt;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sort_by,
.upload {
  border-radius: 10pt;
  background-color: black;
  padding: 7pt;
  cursor: pointer;
}

.input {
  width: 70%;
  margin-left: 10pt;
  margin-top: 1pt;
  background-color: aqua;
  border: none;
  border-radius: 5pt;
  font-family: "Josefin Sans";
  font-size: 15pt;
}

@media screen and (max-width: 580px) {
  .input {
    width: 90%;
  }
}

.input:focus {
  outline: none;
}
