html,
body {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans";
  margin-bottom: 300pt;
}

* {
  box-sizing: border-box;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 120%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(2, 0, 17);
  }
}
